.bg-darkgreen {
  background-color: #2c3e50;
}

.bg-acquagreen {
  background-color: #1abc9c;
}

.text-acquagreen {
  color: #1abc9c;
}

.bg-lightgrey {
  background-color: #3a546d;
}

.bg-darkgrey {
  background-color: #2c3e50;
}


/* Header */
header .navbar-dark .navbar-nav .nav-link,
header .navbar-dark .navbar-toggler-icon {
  color: rgb(255,255,255);
}


