/* Background color */
.bg-darkgreen {
  background-color: #2c3e50;
}

.bg-acquagreen {
  background-color: #1abc9c;
}

.text-acquagreen {
  color: #1abc9c;
}

.bg-lightgrey {
  background-color: #3a546d;
}

.bg-darkgrey {
  background-color: #2c3e50;
}



/* Footer */
.icon-size {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
