/* Generic */
a {
  text-decoration: none;
  color: white;
}

/* Section background and height */
header nav{
  background-color: #2c3e50;
  height: 50px;
}

#jumbotron {
  background-color: #1abc9c;
  height: 300px;
}

#portfolio {
  background-color: #fff;
  height: 400px;
}

#about {
  background-color: #1abc9c;
  height: 200px;
}

#contact-me {
  background-color: #fff;
  height: 400px;
}

#top-footer {
  background-color: #3a546d;
  height: 150px;
}

#bottom-footer {
  background-color: #2c3e50;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* Row and col */
.row {
  border: 2px solid red;
}

[class*=col-],
.col {
  border: 2px dotted black;
  height: 40px;
}


/* Header */
nav ul {
  list-style-type: none;
}

nav > .row {
  height: 100%;
}

